.about-us-wrapper {
  padding: 5rem 0;
}
.about-us-item {
  width: 45%;
}

.about-us-title {
  margin-top: 5rem;
  font-size: 7rem;
}

.about-us-desc {
  color: $lightBlack;
  font-size: 1.7rem;
  line-height: 1.6;
  margin-bottom: 3rem;
}
.about-us-desc-first {
  width: 70%;
}
.about-us-btn {
  margin-bottom: 5rem;
}
