.header {
  background: {
    image: url("./../../images/header.jpg");
    repeat: no-repeat;
    size: cover;
    position: center;
  }
  height: 100%;
  position: relative;
}

/*
===============
Start Navigation Stayle
===============
*/

.top-nav {
  padding: 3rem 5rem;
}

//Nav Logo
.logo__title {
  font: {
    family: $gilroy-b;
  }
}

// Nav Links Stayle
.nav-item {
  font-size: 1.65rem;

  &::after {
    content: " ";
    display: block;
    width: 0;
    height: 2px;
    background-color: $brown;
    margin-top: 0.5rem;
    transition: $transition;
  }
  &:hover::after {
    width: 100%;
  }
}

.nav-item:not(:last-child) {
  margin-right: 3rem;
}

// Nav Icons Stayle
.nav-icon i {
  font-size: 1.6rem;
}

.nav-icon:not(:last-child) {
  margin-right: 2rem;
}

.shopping-cart-icon {
  position: relative;
}
.shopping-cart__tooltip {
  font-size: 1.3rem;
  background-color: $brown;
  color: $white;
  padding: 0.1rem 0.4rem;
  border-radius: 50%;
  position: absolute;
  top: -1.5rem;
  right: -1rem;
}
/*
===============
End Navigation Stayle
===============
*/

/******************************/

/*
===============
Start Header Title Stayle
===============
*/

.header-title {
  font: {
    family: $gilroy-bl;
    size: 8rem;
  }
  text-align: center;
  margin-bottom: 8rem;
}

/*
===============
End Header Title Stayle
===============
*/

/******************************/

/*
===============
Start Header Detail Stayle
===============
*/

.header-text {
  width: 30%;
}
.header-text p {
  font-size: 1.8rem;
  line-height: 2;
  -webkit-line-clamp: 3;
}

// Header Search Stayle
.header-search {
  width: 22%;
  position: relative;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.search-input {
  width: 100%;
  padding: 2rem;
  border: 0;
  outline: 0;
  font-size: 1.7rem;
  color: inherit;
  text-transform: capitalize;
}
.search-input::placeholder {
  font: {
    size: 1.5rem;
  }
}
.search-icon {
  cursor: pointer;
  background-color: $brown;
  padding: 0.8rem;
  color: $white;
  font-size: 1.8rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;

  i {
    transition: $transition;
  }
  &:hover > i {
    transform: rotate(1turn);
  }
}

/*
===============
End Header Detail Stayle
===============
*/

/******************************/

/*
===============
Start Header Social Stayle
===============
*/

.header-social {
  position: absolute;
  bottom: 3rem;
  right: 5rem;
  font-size: 2rem;
}
.social-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social-item:not(:last-child) {
  margin-bottom: 1.5rem;
}

/*
===============
End Header Social Stayle
===============
*/
