// Fonts
$gilroy: "gilroy";
$gilroy-t: "gilroy-t";
$gilroy-l: "gilroy-l";
$gilroy-b: "gilroy-b";
$gilroy-sb: "gilroy-sb";
$gilroy-bl: "gilroy-bl";

//Colors
$brown: #463232;
$white: #ffffff;
$lightOrange: #fef6f0;

//transition
$transition: all 0.3s linear;
