// Fonts
$gilroy: "gilroy";
$gilroy-t: "gilroy-t";
$gilroy-l: "gilroy-l";
$gilroy-b: "gilroy-b";
$gilroy-sb: "gilroy-sb";
$gilroy-bl: "gilroy-bl";

//Colors
$brown: #463232;
$white: #ffffff;
$lightOrange: #fef6f0;
$lightBlack: rgba(0, 0, 0, 0.5);

//transition
$transition: all 0.3s linear;

//box-shadow
$box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
